[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ANSI Control Sequence Aware String Functions
[access "refs/*"]
	owner = group user/mjettp
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mjettp
	label-Verified = -1..+1 group user/mjettp
	push = group user/mjettp
	read = group user/mjettp
	rebase = group user/mjettp
	removeReviewer = group user/mjettp
	submit = group user/mjettp
[access "refs/heads/*"]
	create = group user/mjettp
	push = +force group user/mjettp
	pushMerge = group user/mjettp
	read = group user/mjettp
[access "refs/tags/*"]
	push = group user/mjettp
	push = +force group user/mjettp
